
<!doctype html>
<html lang="en">
  <head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% if title %}
        <title>Django WebApp - {{title}}</title>
    {% else %}
        <title>Django WebApp</title>
    {% endif %}

</head>
  <body>
        
      <div class="container my-bg">
       
    {% block content %}
      
    {% endblock  %}
</div> 
 
  </body>
</html>